* {
    padding: 0 10px;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #222;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    border-bottom: 1px solid #CCC;
    padding: 1rem 2rem;
}

#search-container {
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 100%;
    padding-inline: 0;
    margin-inline: 10px;
}

#search-container:hover > i {
    transform: scale(1.2)
}

#search-container i {
    transition: .5s;
}

#search-input {
    width: 100%;
    min-width: 165px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #555;
    color: #CCC;
}

#search-input::placeholder {
    color: #CCC;
}

#export-notes {
    background-color: #555;
    color: #FFF;
    border-radius: 5px;
    border: 1px solid #AAA;
    padding: 8px 10px;
    cursor: pointer;
    transition: .3s;
}

#export-notes:hover {
    background-color: #FFF;
    color: #555;
}

#add-note-container {
    display: flex;
    max-width: 600px;
    margin: 1rem auto;
    gap: 1rem;
}

#add-note-container input,
#add-note-container button {
    border-radius: 5px;
}

#add-note-container input {
    flex: 1;
    background-color: transparent;
    border: 1px solid #555;
    color: #FFF;
    padding: 10px;
}

#add-note-container button {
    cursor: pointer;
    color: #FFF;
    background-color: #555;
    border: 0;
    padding: 10px 14.6px;
}

#notes-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 250px);
    padding: 2rem;
    gap: 2rem;
}

.note {
    min-height: 200px;
    padding: 1rem;
    border: 1px solid #CCC;
    border-radius: 10px;
    color: #FFF;
    position: relative;
}

.note textarea {
    background-color: transparent;
    resize: none;
    color: #FFF;
    border: none;
    height: 100%;
    outline: none;
}

.note .bi-pin-angle-fill {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 1.2rem;
    background-color: #3C3C3F;
    padding: 5px 7px;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
}

.note .bi-pin-angle-fill:hover {
    text-shadow: 0 0 4px #cecece;
    background-color: #DDD;
    color: #3C3C3F;
}

.note:hover > i {
    opacity: 1;
}

.bi-x-lg, 
.bi-file-earmark-plus-fill{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: .9rem;
    padding: 2px;
    transition: .3s;
    color: #555;
    cursor: pointer;
    opacity: 0;
}

.bi-x-lg:hover, 
.bi-file-earmark-plus-fill:hover {
    color: #FFF;
}

.bi-file-earmark-plus-fill {
    top: 40px;
}

.note.fixed {
    background-color: #3C3C3F;
}